/*
Styles pour les projets
*/

#calendrier .project {
  width:    100%;
  padding: 1px 12px;
}

#calendrier .project .project_name {
  background-color: #d0ffd0;
  color: #008F00;
  max-height:   20px;
  font-family: Arial;
  font-size: medium;
  padding-left: 7px;
}